.BaiTapReactBuoi2 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.BaiTapReactBuoi2 h1 {
  color: red;
}
.BaiTapReactBuoi2 header {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.BaiTapReactBuoi2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.Model {
  position: relative;
  z-index: 100;
}

.DanhSachSanPham {
  padding: 20px;
  background-color: white;
  position: relative;
  z-index: 10;
}

.imgGlasses {
  position: absolute;
  right: 50%;
  top: 30%;
  transform: translateX(50%) translateY(-50%);
}

.span {
  cursor: pointer;
}
.span:hover {
  border: 1px solid blue;
}

.content {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: left;
  font-size: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  top: 40%;
  z-index: 10;
  width: 250px;
  padding: 15px;
}/*# sourceMappingURL=index.css.map */